<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css"></link>
    <title>Document</title>
  </head>
  <body>
    <h1>Danger Danger Will Robinson</h1>
    <img src="/static/mindblown.jpg">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a
      sapiente cupiditate quam maiores. Magni rerum assumenda distinctio,
      expedita blanditiis omnis voluptates quas excepturi impedit ut libero
      iure, nobis reiciendis.
    </p>
  </body>
</html>
